<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.cse682.infrastructure.persistent.user.dao.base.UserDoBaseMapper">


    <insert id="insertUserDo" >
        INSERT INTO `user`
        (
        <trim suffixOverrides=",">
                    <if test="uuid!=null">
                        `uuid`,
                    </if>
                    <if test="gmtCreate!=null">
                        `gmt_create`,
                    </if>
                    <if test="gmtModified!=null">
                        `gmt_modified`,
                    </if>
                    <if test="name!=null">
                        `name`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="uuid!=null">
                    #{uuid},
                </if>
                <if test="gmtCreate!=null">
                    #{gmtCreate},
                </if>
                <if test="gmtModified!=null">
                    #{gmtModified},
                </if>
                <if test="name!=null">
                    #{name},
                </if>
        </trim>
        )
    </insert>




    <update id="updateUserDo">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
            <if test="gmtCreate != null">
                `gmt_create` = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                `gmt_modified` = #{gmtModified},
            </if>
            <if test="name != null and name!=''">
                `name` = #{name},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `uuid` = #{uuid} and
        </trim>
    </update>

    <update id="update">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
        <if test="set.gmtCreate != null">
            `gmt_create` = #{set.gmtCreate},
        </if>
        <if test="set.gmtModified != null">
            `gmt_modified` = #{set.gmtModified},
        </if>
        <if test="set.name != null and set.name!=''">
            `name` = #{set.name},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.uuidList != null">
                    `uuid` in
                    <foreach collection="where.uuidList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyUuid!=null and where.fuzzyUuid.size()>0">
                (
                <foreach collection="where.fuzzyUuid"  separator="or" item="item">
                    `Uuid` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyUuid!=null and where.rightFuzzyUuid.size()>0">
                (
                <foreach collection="where.rightFuzzyUuid"  separator="or" item="item">
                    `Uuid` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.gmtCreateList != null">
                    `gmt_create` in
                    <foreach collection="where.gmtCreateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.gmtCreateSt !=null">
                `gmt_create` >= #{where.gmtCreateSt} and
            </if>
            <if test="where.gmtCreateEd!=null">
                `gmt_create` &lt;= #{where.gmtCreateEd} and
            </if>
                <if test="where.gmtModifiedList != null">
                    `gmt_modified` in
                    <foreach collection="where.gmtModifiedList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.gmtModifiedSt !=null">
                `gmt_modified` >= #{where.gmtModifiedSt} and
            </if>
            <if test="where.gmtModifiedEd!=null">
                `gmt_modified` &lt;= #{where.gmtModifiedEd} and
            </if>
                <if test="where.nameList != null">
                    `name` in
                    <foreach collection="where.nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyName!=null and where.fuzzyName.size()>0">
                (
                <foreach collection="where.fuzzyName"  separator="or" item="item">
                    `Name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyName!=null and where.rightFuzzyName.size()>0">
                (
                <foreach collection="where.rightFuzzyName"  separator="or" item="item">
                    `Name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.su.cse682.infrastructure.persistent.user.UserDo" id="UserDoMap">
        <result property="uuid" column="uuid"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="name" column="name"/>
    </resultMap>


    <select id="queryUserDo" resultMap="UserDoMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="uuid != null and uuid!=''">
                `uuid` = #{uuid} and
            </if>
            <if test="gmtCreate != null">
                `gmt_create` = #{gmtCreate} and
            </if>
            <if test="gmtModified != null">
                `gmt_modified` = #{gmtModified} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test = "(_parameter instanceof com.su.cse682.infrastructure.persistent.user.UserDo$QueryBuilder) == true">
                <if test="uuidList != null">
                    `uuid` in
                    <foreach collection="uuidList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUuid!=null and fuzzyUuid.size()>0">
                    (
                    <foreach collection="fuzzyUuid"  separator="or" item="item">
                        `Uuid` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUuid!=null and rightFuzzyUuid.size()>0">
                    (
                    <foreach collection="rightFuzzyUuid"  separator="or" item="item">
                        `Uuid` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="gmtCreateList != null">
                    `gmt_create` in
                    <foreach collection="gmtCreateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="gmtCreateSt !=null">
                    `gmt_create` >= #{gmtCreateSt} and
                </if>
                <if test="gmtCreateEd!=null">
                    `gmt_create` &lt;= #{gmtCreateEd} and
                </if>
                <if test="gmtModifiedList != null">
                    `gmt_modified` in
                    <foreach collection="gmtModifiedList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="gmtModifiedSt !=null">
                    `gmt_modified` >= #{gmtModifiedSt} and
                </if>
                <if test="gmtModifiedEd!=null">
                    `gmt_modified` &lt;= #{gmtModifiedEd} and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName"  separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName"  separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryUserDoLimit1" resultMap="UserDoMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="uuid != null and uuid!=''">
                `uuid` = #{uuid} and
            </if>
            <if test="gmtCreate != null">
                `gmt_create` = #{gmtCreate} and
            </if>
            <if test="gmtModified != null">
                `gmt_modified` = #{gmtModified} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test = "(_parameter instanceof com.su.cse682.infrastructure.persistent.user.UserDo$QueryBuilder) == true">
                    <if test="uuidList != null">
                        `uuid` in
                        <foreach collection="uuidList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUuid!=null and fuzzyUuid.size()>0">
                    (
                    <foreach collection="fuzzyUuid"  separator="or" item="item">
                        `Uuid` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUuid!=null and rightFuzzyUuid.size()>0">
                    (
                    <foreach collection="rightFuzzyUuid"  separator="or" item="item">
                        `Uuid` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="gmtCreateList != null">
                        `gmt_create` in
                        <foreach collection="gmtCreateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="gmtCreateSt !=null">
                    `gmt_create` >= #{gmtCreateSt} and
                </if>
                <if test="gmtCreateEd!=null">
                    `gmt_create` &lt;= #{gmtCreateEd} and
                </if>
                    <if test="gmtModifiedList != null">
                        `gmt_modified` in
                        <foreach collection="gmtModifiedList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="gmtModifiedSt !=null">
                    `gmt_modified` >= #{gmtModifiedSt} and
                </if>
                <if test="gmtModifiedEd!=null">
                    `gmt_modified` &lt;= #{gmtModifiedEd} and
                </if>
                    <if test="nameList != null">
                        `name` in
                        <foreach collection="nameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName"  separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName"  separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `uuid`,
        `gmt_create`,
        `gmt_modified`,
        `name`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.su.cse682.infrastructure.persistent.user.UserDo$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.uuid==true">
                        `uuid`,
                    </if>
                    <if test="fetchFields.fetchFields.gmtCreate==true">
                        `gmt_create`,
                    </if>
                    <if test="fetchFields.fetchFields.gmtModified==true">
                        `gmt_modified`,
                    </if>
                    <if test="fetchFields.fetchFields.name==true">
                        `name`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.uuid==null">
                        `uuid`,
                    </if>
                    <if test="fetchFields.excludeFields.gmtCreate==null">
                        `gmt_create`,
                    </if>
                    <if test="fetchFields.excludeFields.gmtModified==null">
                        `gmt_modified`,
                    </if>
                    <if test="fetchFields.excludeFields.name==null">
                        `name`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.su.cse682.infrastructure.persistent.user.UserDo$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>